{% extends 'base.html' %}
{% block title %}{{ class.name }}-Detail{% endblock %}
{% block content %}
    <h1>{{ class.name }}</h1>
    {% if class.class_avatar %}<img src="{{ class.class_avatar.url }}" alt="Class Avatar"/>{% endif %}
    <small><p>{{ class.description }}</p></small>
    <p>Teacher: <a href="{% url 'view_others_profile' pk=class.created_by.pk %}">{{ class.created_by.get_full_name }}</a></p>
    <p>Class Created At: {{ class.created_at }}</p>
    <p><a href="{% url 'forum:question_create' pk=class.pk %}">Ask a question here.</a> </p>
{% endblock %}