{% extends 'base.html' %}
{% block title %}{{ class.name }}Detail{% endblock %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %} role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>{{ message }}</strong>
            </div>
        {% endfor %}
    {% endif %}
{% block css %}
    <style>
        .text-block-header{
            position: absolute;
            top: 20px;
            left: 20px;
            color: white;
            padding-left: 20px;
            padding-right: 20px;
            color: #1a1a1a;
            text-align: right;
        }
        .text-block {
            position: absolute;
            top: 20px;
            right: 20px;
            color: white;
            padding-left: 20px;
            padding-right: 20px;
            color: black;
            background-color: rgba(255,255,255,0.4);
            border-radius: 1%;

        }
        .text-block-footer{
            position: absolute;
            bottom: 20px;
            right: 20px;
            color: #191919;
            background-color: rgba(255,255,255,0.4);
            border-radius: 3%;
        }
        .image {
            height: 400px;
            width: 100%;
        }
        .profileUser{
            position: absolute;
            bottom: 20px;
            left: 20px;
            height: 50%;
            width: 20%;
        }
        h1 {
        background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/6963bbf342d87b3a2150bd8f59682b89.jpg);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: contain;
        width: 100%;
        text-align: center;
        color: #EA384D;
        font-weight: 900;


        &::before {
            content: attr(data-heading);
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            background: linear-gradient(45deg, rgba(255,255,255,0) 45%,rgba(255,255,255,0.8) 50%,rgba(255,255,255,0) 55%,rgba(255,255,255,0) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            mix-blend-mode: screen;
            animation: shine 1s infinite;
            background-size: 200%;
            text-shadow:
                2px 2px 10px rgba(#000, 0.2),
                -2px 2px 10px rgba(#000, 0.2),
                -2px -2px 10px rgba(#000, 0.2);
        }
        }

        @keyframes shine {
            0% {background-position: -100%;}
            100% {background-position: 100%;}
        }





        /* Not needed for demo */

        @font-face {
            font-family:'frozen';
            src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Ice%20kingdom%20-%20Bold%20-%20Por%20Kustren.woff');
        }

        h1 {
            top: 30%;
            left: 20%;
            transform: translate(-50%, -50%);
            position: absolute;
            font-size: 5vw;
            margin: 0;
            font-family: 'frozen', serif;
            font-weight: 700;
        }

        span {
          color: #1a1a1a;

        }

    </style>
{% endblock %}
 <div class="carousel-inner">
    <div class="item active">
      {% if class.class_avatar %}<img class="image" src="{{ class.class_avatar.url }}" alt="Class Avatar">{% endif %}

        <div class="hero">
            <h1 data-heading="{{ class.name }}">{{ class.name }}</h1>
            <p class="text-block-footer col-sm-9"><span>{{ class.description }}</span></p>
            <figcaption><img class="profileUser" src="{{ class.created_by.profile.get_avatar_url }}" alt="{{ class.created_by.get_fullname }}" class="profile" style="border-radius: 50%;" /></figcaption>
            <div class="text-block">
            Class Code: {{ class.code }}
            <p>Teacher: <a href="{% url 'view_others_profile' pk=class.created_by.pk %}">{{ class.created_by }}</a></p>
        </div>
        </div>
    </div>
 </div>


    <!-- Trigger the modal with a button -->
<button type="button" class="button button1" data-toggle="modal" data-target="#myModal">Ask Question</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
          <h3 class="modal-title">Ask Question</h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {% include 'form-template.html' %}
            <button class="button button1">Create</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
    {% for question in class.question_set.all %}
            <div class="container main-section border">
            <div class="col-lg-12 col-sm-12 col-12">
                <div class="row">
                    <div class="col-md-1">
                  <br>
                        <a href="{% url 'forum:vote' operation='upvote' pk=question.pk %}" id="upvote{{ forloop.counter }}" class="fa fa-chevron-up"></a><br>
                    <b id="votes_count">{{question.votes}}</b><br>
                  <a href="{% url 'forum:vote' operation='downvote' pk=question.pk %}" id="downvote{{ forloop.counter }}" class="fa fa-chevron-down"></a>
                </div>
        <div class="col-lg-2 col-sm-2 col-5">
            <img src="{{ question.created_by.profile.get_avatar_url }}" class="circular--landscape" width="150px">
        </div>
        <div class="col-lg-9 col-sm-9 col-6">
          <h4 class="text-primary">{{ question.title }}</h4>
          <p>
            {{ question.instruction }}
          </p>
        </div>
      </div>
      <div class="row post-detail">
        <div class="col-lg-12 col-sm-12 col-12">
            <ul class="list-inline">
              <li class="list-inline-item">
                <img src="https://dummyimage.com/20x20/a8a1a8/0f0f12" class="rounded-circle" width="20px"> <span>by</span> <span class="text-info">{{ question.created_by.username }}</span>
              </li>
              <li class="list-inline-item">
                <i class="fa fa-calendar" aria-hidden="true"></i> <span>{{ question.created_at.date  }}</span>
              </li>
              <li class="list-inline-item">
                <i class="fa fa-comment" aria-hidden="true"></i><a href="{% url 'forum:question_detail' pk=question.pk %}"><span class="text-info">Answer</span></a>
              </li>
              <li class="list-inline-item">
                <i class="fa fa-share-square-o" aria-hidden="true"></i> <span class="text-info">{{ question.answer_set.count }} Answers</span>
              </li>
            </ul>
        </div>
      </div>
    </div>
  </div>
    <br>
    {% endfor %}
{% endblock %}