{% extends 'base.html' %}

{% block title %}Class List{% endblock %}

{% block content %}
    <a href="{% url 'forum:class_create' %}" class="btn btn-primary">Create Class</a>
    <table class="table">
        <thead class="thead-inverse">
        <tr>
            <th>Classes</th>
            <th>Teacher</th>
            <th>Created At</th>
            <th>Questions</th>
            <th>Last Question</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
            {% for cl in classes %}
                <tr>
                    <td>
                        <a href="{% url 'forum:class_detail' pk=cl.pk %}">{{ cl.name }}</a>
                        <small class="text-muted d-block">{{ cl.description }}</small>
                    </td>
                    <td class="align-middle"><a href="{% url 'view_others_profile' pk=cl.created_by.pk %}">{{ cl.created_by.get_full_name }}</a></td>
                    <td class="align-middle">{{ cl.created_at.date }}</td>
                    <td class="align-middle">{{ cl.question_set.count }}</td>
                    <td class="align-middle">
                        {% if cl.question_set.last %}
                            <a href="{% url 'forum:question_detail' pk=cl.question_set.last.pk %}">{{ cl.question_set.last.title }}</a>
                        {% else %}
                            <p>No Question Yet!!!</p>
                        {% endif %}
                    </td>
                    <td class="align-middle">
                        <a href="{% url 'forum:class_delete' pk=cl.pk %}" class="btn btn-primary">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}