{% extends 'base.html' %}
{% block title %}{{ class.name }}-Detail{% endblock %}
{% block content %}
    <h1>{{ class.name }}</h1>
    {% if class.class_avatar %}<img src="{{ class.class_avatar.url }}" alt="Class Avatar"/>{% endif %}
    <small><p>{{ class.description }}</p></small>
    <p>Teacher: <a href="{% url 'view_others_profile' pk=class.created_by.pk %}">{{ class.created_by.get_full_name }}</a></p>
    <p>Class Created At: {{ class.created_at }}</p>

    <!-- Trigger the modal with a button -->
<button type="button" class="button button1" data-toggle="modal" data-target="#myModal">Ask Question</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
          <h3 class="modal-title">Ask Question</h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button button1">Create</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
    {% for question in class.question_set.all %}
        <p><a href="{% url 'forum:question_detail' pk=question.pk %}">{{ question.title }}</a></p>
    {% endfor %}
{% endblock %}