{% extends 'assignment/base.html' %}
{% load staticfiles %}
{% load assignment_template_tags %}

{% block content %}

	{% if user|user_is_teacher:classs.pk %}

	    {% include 'assignment/admin.html' with users=users tasks=tasks%}

	{% else %}

	    {% include 'assignment/student.html' with tasks=tasks%}

	{% endif %}

{% endblock %}

{% block script %}
{% if user|user_is_teacher:classs.pk %}
		<script src="{% static 'js/admin.js' %}"></script>
{% else %}
		<script src="{% static 'js/student.js' %}"></script>
{% endif %}
{% endblock %}
