{% extends 'base.html' %}
{% block title%}Edit Profile{% endblock %}


{% block body %}

    <div class="container-fluid">
        <br><br>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-sm-12 col-md-10">
                <div class="card">
                    <h1 class="card-header">Edit Profile</h1>
                    <div class="card-body">
                        <form method="post" novalidate>
                            {% csrf_token %}
                            {% with user_form as form %}
                                {% include 'form-template.html' %}
                            {% endwith %}
                            {% with profile_form as form %}
                                {% include 'form-template.html' %}
                            {% endwith %}
                            <button type="submit" class="btn btn-block btn-dark" >Save changes</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    <br><br>
    </div>

{% endblock %}