{% extends 'registration_redux/registration_base.html' %}
{% load i18n %}

{% block title %}{{ user.username }}-Profile{% endblock %}

{% block content %}
    <br><br>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
                        <p>Location: {{ user.profile.location }}</p>
                        <p><img src="{{ user.profile.avatar.url }}" alt="{{ user.username }}" class="img-responsive" width="50%" align="center"/></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br><br>
{% endblock %}